@use './variables' as *;

.footer {
  background: $grey-bg;
  padding: 30px 0;

  &__container {
    padding: 0 60px;
  }

  &__separator {
    height: 2px;
    background: $grey-separator;
    margin-bottom: 30px;
  }

  &__row {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }

  &__contacts {
    display: flex;
    flex-direction: column;
    gap: 21px;
  }

  &__line {
    display: flex;
    align-items: center;
    gap: 10px;
  }

  &__address {
    font-size: 16px;
    line-height: 20px;
    color: $text-dark;
  }

  &__map {
    font-size: 12px;
    line-height: 15px;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: $blue;
    text-decoration: none;

    &:hover {
      color: $pink;
    }
  }

  &__fb {
    width: 38px;
    height: 38px;
    display: block;
    align-items: center;
    justify-content: center;
    color: $blue;

    svg {
      width: 100%;
      height: 100%;
      fill: $blue;
      display: block;
    }

    &:hover {
      color: $pink;
    }
  }


  &__phone {
    font-size: 16px;
    line-height: 20px;
    font-weight: 700;
    color: $text-dark-alt;
    text-decoration: none;

    &:hover {
      color: $pink;
    }
  }

  &__email {
    font-size: 16px;
    line-height: 20px;
    font-weight: 700;
    color: $blue;
    text-decoration: none;

    &:hover {
      color: $pink;
    }
  }

  &__dot {
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: $grey-text;
    flex: 0 0 6px;
  }

  &__copy {
    font-size: 16px;
    line-height: 20px;
    color: $grey-text;
    text-align: right;
    white-space: nowrap;
  }
}


@media (max-width: 768px) {
  .footer {
    margin-top: 15px;
    padding: 30px 60px;
    background: $grey-bg;
  }

  .footer__container {
    padding: 0;
  }

  .footer__row {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
  }

  .footer__contacts {
    width: 398px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
  }

  .footer__line {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    flex-wrap: wrap;
  }

  .footer__copy {
    text-align: center;
  }
}



@media (max-width: 375px) {
  .footer {
    margin: 0;
    padding: 30px;
    background: $grey-bg;
  }

  .footer__container {
    padding: 0;
  }

  .footer__row {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
  }

  .footer__contacts {
    width: 204px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 21px;
  }


  .footer__line:first-child {
    flex-direction: column;
    gap: 10px;
  }


  .footer__line:last-child {
    flex-direction: column;
    gap: 10px;
  }

  .footer__dot {
    display: none;
  }

  .footer__copy {
    width: 100%;
    text-align: center;
  }
}
