@use './variables' as *;
@use './mixins' as *;

.header {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 2;



  &__container {
    @include flex-between;
    gap: 24px;
    padding: 50px 60px 0;

  }

  &__logo {
    flex: 0 0 auto;
    display: flex;
    align-items: flex-start;
    gap: 4px;

    img {
      height: 60px;
      width: auto;
    }

  }
  .header {
    &__logo-slash {
      width: 21px;
      height: 47px;
      flex: 0 0 auto;
    }
  }
  &__logo-page-1{
    display: inline-block;
    font-weight: 400;
    font-size: 36px;
    line-height: 100%;
    color: black;
  }

  &__logo-page {
    display: inline-block;
    font-weight: 400;
    font-size: 36px;
    line-height: 100%;
    color: white;
  }
  &__right {
    flex: 1;
    min-width: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 18px;
  }

  &__top {
    display: flex;
    align-items: center;
    gap: 7px;
    flex-wrap: wrap;
    justify-content: flex-end;
  }

  &__languages {
    display: flex;
    justify-content: flex-end;

    a {
      color: $grey-text;
      padding: 5px 7px;
      font-size: 12px;
      font-weight: 700;
      text-transform: uppercase;
      border-radius: $r-8;

      &:hover {
        color: $text-main;
        background: $pink;
        transition: 0.2s ease-in-out;
      }

    }
  }

  &__dot {

    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: $grey-text;
    flex: 0 0 auto;
  }

  &__address {
    font-size: 16px;
    color: $grey-text;
    white-space: nowrap;

    &:hover {
      color: $text-main;
      transition: 0.2s;
    }
  }

  &__phone {
    color: $grey-text;
    font-size: 16px;
    font-weight: 700;
    white-space: nowrap;

    &:hover {
      color: $text-main;
      transition: 0.2s;
    }
  }

  &__social {
    color: $grey-text;
    display: inline-flex;
    align-items: center;
    justify-content: center;

    &:hover .header__social-icon {
      color: $blue;
    }
  }

  &__social-icon {
    width: 24px;
    height: 24px;
    fill: $white;
    transition: 0.2s;
  }

  &__nav {
    width: 100%;

  }
}

.nav {
  display: flex;
  justify-content: flex-end;
  gap: 15px;
  flex-wrap: wrap;

  a {
    color: $blue;
    font-size: 16px;
    font-weight: 700;
    text-transform: lowercase;

    padding-bottom: 3px;
    border-bottom: 2px solid transparent;

    &:hover {
      color: $pink;
      border-color: $pink;
      transition: 0.2s ease-in-out;
    }
  }

}

@include media($md) {
  .header {
    padding: 0;

    &__right {
      align-items: flex-start;
    }
  }

  .nav {
    justify-content: flex-start;
  }


  .header--light {
    .header__address,
    .header__phone,
    .header__languages {
      color: $grey-text;
    }

    .header__address,
    .header__phone {
      &:hover {
        color: $blue;
      }
    }

    .header__dot {
      background: $grey-separator;
    }

    .header__social-icon {
      color: $grey-text;
    }

    .nav a {
      color: $blue;

      &:hover {
        color: $pink;
        border-color: $pink;
      }
    }


    .header__logo-page {
      color: $text-dark;
    }
  }


  .header__container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
      "top"
      "logo"
      "nav";
    gap: 30px;
    align-items: start;
  }

  .header__right {
    display: contents;
  }

  .header__top {
    grid-area: top;
    justify-content: flex-start;
    flex-wrap: nowrap;
    gap: 7px;
  }

  .header__logo {
    grid-area: logo;
    margin: 0;
    align-self: start;
  }

  .header__nav {
    grid-area: nav;
    width: 100%;
  }

  .nav {
    justify-content: flex-start;
  }
}


@media (max-width: 450px)
{
  .header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 3;
    padding: 0;
  }

  .header__container {
    display: grid;
    grid-template-columns: 1fr auto;
    grid-template-areas:
      "top top"
      "logo burger";
    gap: 0;
    padding: 0;
    align-items: center;
  }

  .header__top {
    grid-area: top;
    width: 100%;
    background: #F5F5FA33;
    padding: 10px 15px;
    justify-content: space-between;
    align-items: center;
  }

  .header__dot,
  .header__address,
  .header__social {
    display: none;
  }

  .header__logo {
    grid-area: logo;
    margin: 0;
    padding: 15px 15px 10px;
    align-self: start;
  }

  .header__logo img {
    height: 32px;
    width: auto;
  }

  .header .header__logo-slash {
    width: 11px;
    height: 26px;
  }

  .header__logo-page {
    display: inline-block;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
  }

  .header__burger {
    grid-area: burger;
    display: inline-flex;
    width: 32px;
    height: 32px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 6px;
    cursor: pointer;
  }

  .header__burger span {
    display: block;
    width: 18px;
    height: 2px;
    background: $bg-1;
  }

  .header__burger_1 {
    grid-area: burger;
    display: inline-flex;
    width: 32px;
    height: 32px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 6px;
    cursor: pointer;
  }

  .header__burger_1 span {
    display: block;
    width: 18px;
    height: 2px;
    background: white;
  }


  /* NAV DROPDOWN */
  .header__nav {
    display: none;
    position: absolute;
    left: 0;
    top: 102px;
    width: 100%;
    background: $white;
    padding: 20px 15px;
    z-index: 999;
  }

  .header__menu-toggle:checked ~ .container .header__nav {
    display: block;
  }

  .header__nav .nav {
    display: flex;
    flex-direction: column;
    gap: 15px;
    justify-content: flex-start;
  }
}