@use './variables' as *;
@use './mixins' as *;

.header {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 2;



  &__container {
    @include flex-between;
    gap: 24px;
    padding: 50px 60px 0;

  }

  &__logo {
    flex: 0 0 auto;
    display: flex;
    align-items: flex-start;
    gap: 4px;

    img {
      height: 60px;
      width: auto;
    }

  }
  .header {
    &__logo-slash {
      width: 21px;
      height: 47px;
      flex: 0 0 auto;
    }
  }


  &__logo-page {
    display: inline-block;
    font-weight: 400;
    font-size: 36px;
    line-height: 44px;
    color: $white;
  }
  &__right {
    flex: 1;
    min-width: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 18px;
  }

  &__top {
    display: flex;
    align-items: center;
    gap: 5px;
    flex-wrap: wrap;
    justify-content: flex-end;
  }

  &__languages {
    display: flex;
    justify-content: flex-end;

    a {
      padding: 5px 7px;
      font-size: 12px;
      font-weight: 700;
      text-transform: uppercase;
      border-radius: $r-8;

      &:hover {
        color: $text-main;
        background: $pink;
        transition: 0.2s ease-in-out;
      }

    }
  }

  &__dot {
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: $text-muted-3;
    flex: 0 0 auto;
  }

  &__address {
    font-size: 16px;
    color: $text-muted;
    white-space: nowrap;

    &:hover {
      color: $text-main;
      transition: 0.2s;
    }
  }

  &__phone {
    font-size: 16px;
    font-weight: 700;
    color: $text-main;
    white-space: nowrap;

    &:hover {
      color: $blue;
      transition: 0.2s;
    }
  }

  &__social {
    display: inline-flex;
    align-items: center;
    justify-content: center;

    &:hover .header__social-icon {
      color: $blue;
    }
  }

  &__social-icon {
    width: 24px;
    height: 24px;
    fill: $white;
    transition: 0.2s;
  }

  &__nav {
    width: 100%;

  }
}

.nav {
  display: flex;
  justify-content: flex-end;
  gap: 15px;
  flex-wrap: wrap;

  a {
    font-size: 16px;
    font-weight: 700;
    text-transform: lowercase;

    padding-bottom: 3px;
    border-bottom: 2px solid transparent;

    &:hover {
      color: $pink;
      border-color: $pink;
      transition: 0.2s ease-in-out;
    }
  }

}

@include media($md) {
  .header {
    padding-top: 30px;

    &__right {
      align-items: flex-start;
    }
  }

  .nav {
    justify-content: flex-start;
  }
}

@include media($sm) {
  .header {
    &__address,
    &__dot {
      display: none;
    }
  }

}


.header--light {
  .header__address,
  .header__phone,
  .header__languages{
    color: $grey-text;
  }
  .header__address,
  .header__phone{
    &:hover
    {color: $blue;}
  }
  .header__dot {
    background: $grey-separator;
  }

  .header__social-icon {
    color: $grey-text;
  }

  .nav a {
    color: $blue;

    &:hover {
      color: $pink;
      border-color: $pink;
    }
  }



  .header__logo-page {
    color: $text-dark;
  }
}

