@use './variables' as *;
@use './mixins' as *;

$symbol-top: -120px;
$symbol-w: 697px;
$symbol-h: 820px;

.hero {
  position: relative;
  z-index: 1;

  &__container {
    position: relative;
    min-height: 800px;
  }

  &__symbol {
    position: absolute;
    top: $symbol-top;
    left: 50%;
    width: $symbol-w;
    height: $symbol-h;
    transform: translateX(-50%);
    pointer-events: none;
    z-index: 0;

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
      display: block;
    }
  }

  &__title {
    position: absolute;
    left: 50%;
    top: calc(#{$symbol-top} + #{$symbol-h} / 2);
    transform: translate(-50%, -50%);
    z-index: 1;

    max-width: 900px;
    font-size: 38px;
    line-height: 46px;
    font-weight: 700;
    text-transform: lowercase;
    text-align: center;
    margin: 0;
  }

  &__scroll {
    position: absolute;
    left: 50%;
    top: calc(#{$symbol-top} + #{$symbol-h} - 80px);
    transform: translateX(-50%);
    display: inline-flex;
    z-index: 1;

    &:hover .hero__scroll-icon {
      color: $pink;
    }
  }

  &__scroll-icon {
    width: 42px;
    height: 42px;
    stroke: $white;
    fill: none;
    transition: 0.2s;
  }
}


.popup {
  position: fixed;
  inset: 0;
  z-index: 999;
  display: grid;
  place-items: center;

  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity .2s ease, visibility .2s ease;

  &__overlay {
    position: absolute;
    inset: 0;

    background: $bg-1;
    opacity: 0.7;

    cursor: pointer;
  }

  &__content {
    position: relative;
    z-index: 1;


    width: 650px;
    height: 612px;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 30px;
    gap: 30px;

    background: $grey-bg;
    box-shadow: 0 15px 80px rgba(40, 40, 86, 0.5);
    border-radius: $r-12;
  }

  &__head {
    width: 590px;
    height: 46px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    padding: 0;
    gap: 10px;
  }

  &__title {
    margin: 0;
    width: 517px;
    height: 46px;

    font-family: $font-main;
    font-style: normal;
    font-weight: 700;
    font-size: 38px;
    line-height: 46px;

    background: $red-text-reversed;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
  }

  &__close {
    width: 32px;
    height: 32px;
    position: relative;
    cursor: pointer;
    flex: 0 0 auto;
    user-select: none;
    font-size: 0;

    &::before,
    &::after {
      content: '';
      position: absolute;
      left: 50%;
      top: 50%;
      width: 18px;
      height: 2px;
      background: #EC6F5D;
      border-radius: 1px;
      transform-origin: center;
      transform: translate(-50%, -50%) rotate(45deg);
    }

    &::after {
      transform: translate(-50%, -50%) rotate(-45deg);
    }
  }

  &__form {
    width: 590px;
    display: flex;
    flex-direction: column;
    gap: 15px;
  }

  &__input {
    box-sizing: border-box;
    width: 590px;
    height: 56px;
    padding: 15px;

    background: $white;
    border: 1px solid $white;
    border-radius: $r-8;

    font-family: $font-main;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;

    color: $text-dark;

    &::placeholder {
      color: $grey-text;
    }

    &:focus {
      outline: none;
      border-color: $blue;
    }
  }

  &__textarea {
    box-sizing: border-box;
    width: 590px;
    height: 130px;
    padding: 15px;

    background: $white;
    border: 1px solid $white;
    border-radius: $r-8;

    font-family: $font-main;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;

    color: $text-dark;

    resize: none;

    &::placeholder {
      color: $grey-text;
    }

    &:focus {
      outline: none;
      border-color: $blue;
    }
  }

  &__caption {
    width: 590px;
    height: 17px;

    font-family: $font-main;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 1px;
    text-transform: uppercase;

    color: $grey-text;
  }

  &__btn {
    width: 590px;
    height: 56px;

    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 18px 30px;
    gap: 10px;

    background: $blue;
    box-shadow: 0 0 20px rgba(36, 163, 255, 0.5);
    border-radius: $r-12;
    border: none;

    font-family: $font-main;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color: $white;

    cursor: pointer;

    &:hover { filter: brightness(0.98); }
    &:active { filter: brightness(0.95); }
  }
}

#contact-popup-toggle:checked ~ .popup {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}


