@use './variables' as *;
@use './mixins' as *;

.intro {
  &__container {
    max-width: 1440px;
    //margin: 0 auto;
    padding: 0 180px;
    margin-top: -47px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
  }

  &__row {
    max-width: 1080px;
    height: 303px;

    display: flex;
    align-items: center;
    gap: 60px;
    margin-bottom: 60px;
  }

  &__left {
    width: 375px;
    height: 274px;

    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 30px;

    text-align: right;
  }

  &__item {
    font-weight: 700;
    font-size: 38px;
    line-height: 46px;
    text-decoration: none;
    color: $grey-text;

    &:hover {
           color: $pink;
         }

    &.is-active {
      @include red-text;
    }
  }

  &__divider {
    width: 4px;
    height: 303px;
    background: rgba(255, 255, 255, 0.3);
    flex: 0 0 4px;
  }

  &__right {
    max-width: 581px;
    height: 217px;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 30px;
  }

  &__title {
    margin: 0;
    font-weight: 700;
    font-size: 30px;
    line-height: 37px;
    color: $white;
  }

  &__text {
    margin: 0;
    font-weight: 400;
    font-size: 19px;
    line-height: 30px;
    color: $white;
  }
}


