@use './variables' as *;



@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin flex-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@mixin red-text {
  background: $red-text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  background-clip: text;
  color: transparent;
}


@mixin red-text-reversed {
  background: $red-text-reversed;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  background-clip: text;
  color: transparent;
}

@mixin media($w) {
  @media (max-width: $w) {
    @content;
  }
}
