@use './variables' as *;

.publications {
  background: $grey-bg;
  padding: 30px 0 0;

  &__container {
    padding: 0 60px;
  }

  &__head {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;

    width: 525px;
    margin-bottom: 30px;
  }

  &__title {
    margin: 0;
    font-weight: 700;
    font-size: 38px;
    line-height: 46px;

    background: $red-text-reversed;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
  }
}

.publications-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}

/* Card */
.post-card {
  background: $white;
  border-radius: $r-8;
  overflow: hidden;
  display: flex;
  flex-direction: column;

  &__cover {
    display: block;
    height: 200px;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      display: block;
    }
  }

  &__body {
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 15px;
  }

  &__title {
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: $blue;
    text-decoration: none;

    &:hover {
      color: $pink;
    }
  }

  &__date {
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: $grey-text;
  }

  &__divider {
    width: 100%;
    height: 4px;
    background: $grey-separator;
  }

  &__text {
    margin: 0;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    color: $black;
  }
}
