@use './variables' as *;
@use './mixins' as *;

@media (max-width: 968px) {


  .hero {
    position: relative;
    max-height: 1024px;
    z-index: 2;
  }


  .hero__symbol {
    top: 0;
    left: 50%;
    max-height: 100vh;
    height: 100%;
    transform: translateX(-50%);
    z-index: 1;
    pointer-events: none;
  }

  .hero__symbol img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
  }

  .hero__container {
    position: relative;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 2;
  }

  .hero__title {
    font-weight: 700;
    font-size: 38px;
    line-height: 46px;
    text-align: center;
    color: white;
    max-width: 800px;
    margin: 0;
    top: 350px;
    white-space: nowrap;
  }

  .hero__scroll {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 30px;
    z-index: 2;
  }

  /* ---------- INTRO ---------- */
  .intro {
    position: relative;
    padding: 0 0 30px;
  }

  .intro__container {
    max-width: 768px;
    margin: 0 auto;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 0;
  }

  .intro__row {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 60px;
    margin-bottom: 0;
  }

  .intro__tabs {
    overflow-x: auto;
    overflow-y: hidden;
    -webkit-overflow-scrolling: touch;
    padding: 0 60px;
    scrollbar-width: none;
  }

  .intro__tabs::-webkit-scrollbar {
    display: none;
  }

  .intro__left {
    display: flex;
    max-width: 650px;
    width: 100%;
    flex-direction: row;
    align-items: flex-end;
    gap: 30px;
    height: 46px;
    text-align: left;
  }

  .intro__item {
    flex: 0 0 auto;
    white-space: nowrap;
  }

  .intro__item.is-active {
    background: $red-text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
  }

  .intro__item:hover {
    color: $pink;
  }

  .intro__item.is-active:hover {
    color: transparent;
  }


  .intro__divider {
    width: calc(100% - 120px);
    max-width: 648px;
    height: 4px;
    margin: 0 auto;
    background: rgba(255, 255, 255, 0.3);
  }

  /* ===== CONTENT ===== */
  .intro__right {
    width: 100%;
    padding: 0 60px;
    display: flex;
    flex-direction: column;
    gap: 30px;
  }

  .intro__title {
    margin: 0;
    font-weight: 700;
    font-size: 30px;
    line-height: 37px;
    color: $white;
  }

  .intro__text {
    margin: 0;
    font-weight: 400;
    font-size: 19px;
    line-height: 30px;
    color: $white;
  }


  /* ---------- SERVICES ---------- */

  .services {
    max-width: 768px;
    width: 100%;
    margin: 0 auto;
    padding: 130px 60px;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 60px;

    border-radius: 0 0 12px 12px;

    &__link {
      display: inline-flex;
      align-items: center;
      gap: 2px;
      font-weight: 700;
      font-size: 14px;
      line-height: 17px;
      letter-spacing: 1px;
      text-transform: uppercase;

      color: $blue;
      text-decoration: none;

      &:hover {
        color: $pink;
        opacity: 0.85;
      }
    }

    &__arrow {
      width: 12px;
      height: 12px;
      color: currentColor;
      flex: 0 0 12px;
    }

    &__title {
      margin: 0;
      font-weight: 700;
      font-size: 38px;
      line-height: 46px;
      max-width: 648px;
      @include red-text-reversed;
    }

    &__cards {
      width: 100%;
      max-width: 648px;

      display: grid;
      grid-template-columns: 294px 294px;
      column-gap: 60px;
      row-gap: 60px;

      padding-bottom: 60px;
    }
  }

  .service-card {
    width: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 30px;

    &__icon {
      width: 92px;
      height: 92px;
      padding: 14px;
      border-radius: 24px;
      background: $white;

      display: inline-flex;
      align-items: center;
      justify-content: center;

      color: $pink;
    }

    &__title {
      margin: 0;
      font-weight: 700;
      font-size: 22px;
      line-height: 27px;
      color: $blue;
    }

    &__text {
      margin: 0;
      font-weight: 400;
      font-size: 16px;
      line-height: 26px;
      color: $white;
    }
  }


  /* ---------- TEAM ---------- */
  .team {
    padding: 0 0;
    background: $white;
    display: block;
  }

  .team__container {
    max-width: 768px;
    margin: 0 auto;
    padding: 0 60px;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
  }

  .team-card {
    width: 100%;
    max-width: 648px;
    height: auto;

    display: flex;
    flex-direction: column;

    background: $grey-bg;
    border-radius: $r-12;
    overflow: hidden;
  }

  .team-card__img {
    width: 100%;
    height: 500px;
  }

  .team-card__content {
    width: 100%;
    height: auto;

    padding: 30px;
    display: flex;
    flex-direction: column;
  }

  .team-card__quote {
    width: 100%;
  }

  .team__pager {
    display: flex;
    gap: 15px;
    justify-content: center;
  }


  /* ---------- CLIENTS ---------- */
  .clients {
    padding: 0;
  }

  .clients__title {
    margin: 0;
    text-align: center;
  }

  .clients-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

  .clients-grid__row {
    display: contents;
  }

  .client {
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .client img {
    width: 80%;
    height: 100%;
    display: block;
    object-fit: contain;
  }

  /* ---------- PUBLICATIONS  ---------- */
  .publications {
    background: $grey-bg;
    padding: 30px 0 0;
  }

  .publications__container {
    padding: 0 60px;
  }

  .publications-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
  }

  .post-card:nth-child(3) {
    grid-column: 1 / -1;
  }

  .post-card {
    background: white;
    border-radius: 8px;
    overflow: hidden;
  }

  .post-card__cover {
    display: block;
    height: 200px;
  }

  .post-card__cover img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
  }

  .post-card__body {
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 15px;
  }

}

@media (max-width: 450px) {

  /* ================== HERO ================== */
  .hero {
    position: relative;
    height: 600px;
  }

  .hero__symbol {
    position: absolute;
    width: 523.4px;
    height: 600px;
    left: 50%;
    top: 0;
    transform: translateX(-50%);
    pointer-events: none;
  }

  .hero__symbol img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
  }

  .hero__container {
    position: relative;
    height: 600px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    padding: 0 30px;
    z-index: 2;
  }

  .hero__title {
    margin: 0;
    width: 315px;

    font-weight: 700;
    font-size: 38px;
    line-height: 46px;
    text-align: center;
    color: $white;
    white-space: normal;
  }

  .hero__scroll {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 230px;
    top: auto;
    width: 42px;
    height: 42px;
    z-index: 2;
  }

  ///* ================== INTRO ================== */

  .intro {
    padding: 0 0 30px;
  }

  .intro__row {
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-bottom: 0;
  }

  .intro__tabs {
    overflow-x: auto;
    overflow-y: hidden;
    -webkit-overflow-scrolling: touch;
    padding: 0 60px;
    scrollbar-width: none;
  }

  .intro__tabs::-webkit-scrollbar {
    display: none;
  }

  .intro__left {
    max-width: 350px;
  }

  .intro__item {
    flex: 0 0 auto;
    white-space: nowrap;

    font-weight: 700;
    font-size: 30px;
    line-height: 37px;

    color: $grey-text;
  }


  .intro__divider {
    width: 315px;
    height: 4px;
    margin: 0 auto;
    background: rgba(255, 255, 255, 0.3);
    border-radius: 2px;
  }

  .intro__right {
    padding: 0 30px;
    display: flex;
    flex-direction: column;
    gap: 30px;
  }

  .intro__title {
    margin: 0;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: $white;
  }

  .intro__text {
    margin: 0;
    font-weight: 400;
    font-size: 19px;
    line-height: 30px;
    color: $white;
  }


  /* ================== SERVICES ================== */
  .services {
    width: 100%;
    padding: 100px 30px 0;
    gap: 30px;
  }

  .services__title {
    font-weight: 700;
    font-size: 30px;
    line-height: 37px;
    padding: 0;
  }

  .services__cards {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 30px;
    column-gap: 0;
    padding-bottom: 60px;
    padding-top: 30px;
  }

  .service-card {
    width: 315px;
  }

  .service-card__text {
    margin-top: 0;
  }

  /* ================== TEAM ================== */
  .team {
    padding: 0 0;
    background: $white;
  }

  .team__container {
    padding: 0 30px;
    gap: 30px;
  }

  .team-card {
    width: 315px;
    height: auto;

    display: flex;
    flex-direction: column;

    background: $grey-bg;
    border-radius: 12px;
    overflow: hidden;
  }

  .team-card__img {
    width: 315px;
    height: 500px;
    background: #EDEDF7;
  }

  .team-card__img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
  }

  .team-card__content {
    width: 315px;
    padding: 30px;

    display: flex;
    flex-direction: column;
    gap: 30px;
  }

  .team-card__quote {
    font-weight: 700;
    font-size: 30px;
    line-height: 37px;
  }

  .team__pager {
    display: flex;
    gap: 15px;
    justify-content: center;
  }

  /* ================== CLIENTS ================== */
  .clients {
    padding: 0;
    gap: 30px;
  }

  .clients-grid {
    grid-template-columns: repeat(1, 1fr);

  }
  .clients-grid__row:nth-child(3) {
    display: none;
  }
  .clients-grid__row:nth-child(2) .client:nth-child(n + 3) {
    display: none;
  }
  .clients-grid__row {
    display: contents;
  }

  .client {
    width: 100%;
    height: 120px;
    flex: none;

    display: flex;
    align-items: center;
    justify-content: center;
  }


  .client img {
    width: 100%;
    height: 100%;
    max-width: 220px;
    max-height: 60px;
    object-fit: contain;
    display: block;
  }

  /* ================== PUBLICATIONS ================== */
  .publications {
    background: $grey-bg;
    padding: 30px 30px 0;
  }

  .publications__container {
    padding: 0;
  }

  .publications__title {
    font-weight: 700;
    font-size: 30px;
    line-height: 37px;
  }

  .publications-grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 30px;
  }

  .post-card__cover {
    height: 200px;
  }

  .post-card__body {
    padding: 30px;
    gap: 15px;
  }


  /* ================== POP UP ================== */
  .popup {
    padding: 15px;

    &__content {
      width: 100%;
      max-width: 375px;
      height: auto;
      overflow: auto;
      padding: 30px;
      gap: 15px;
    }

    &__head {
      width: 100%;
      height: auto;
      align-items: flex-start;
    }

    &__title {
      width: 100%;
      height: auto;
      font-size: 30px;
      line-height: 37px;
    }

    &__form {
      width: 100%;
      gap: 15px;
    }

    &__input,
    &__textarea,
    &__caption,
    &__btn {
      width: 100%;
      max-width: 100%;
    }

    &__textarea {
      height: 130px;
    }

    &__btn {
      align-items: center;
      padding: 18px 30px;
    }
  }
}
