@use './variables' as *;

.services-shadow {
  position: relative;
  width: 100%;
  height: 20px;
  z-index: 2;
  pointer-events: none;

  &__bg {
    position: absolute;
    left: 0;
    right: 0;
    border-radius: 0 0 12px 12px;
  }

  &__bg--top {
    left: 20px;
    right: 20px;
    top: 0;
    height: 10px;
    background: #CACADB;
  }


  &__bg--bottom {
    bottom: 0;
    height: 10px;
    margin: 0 40px;
    background: #E7E7F2;
  }
}
