@use './variables' as *;
@use './mixins' as *;

.service-entry {
  padding: 60px 0;

  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 28px;
    padding: 0 180px;
  }

  &__icon {
    width: 92px;
    height: 92px;
    background: $white;
    border-radius: 24px;
    display: flex;
    align-items: center;
    justify-content: center;

    svg {
      width: 64px;
      height: 64px;
    }
  }

  &__title {
    font-weight: 700;
    font-size: 38px;
    line-height: 46px;
    text-align: center;

    background: $red-text-reversed;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
  }

  &__text {
    max-width: 1080px;
    font-family: $font-main;
    font-weight: 400;
    font-size: 19px;
    line-height: 30px;
    text-align: center;
    color: $white;
    margin: 0;
  }

  &__btn {
    display: inline-flex;
    justify-content: center;
    align-items: center;

    padding: 18px 30px;
    height: 56px;
    border-radius: $r-12;

    background: $blue;
    box-shadow: 0 0 20px rgba(36, 163, 255, 0.5);

    color: $white;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;

    cursor: pointer;
  }
}

.service-area {
  padding: 0 0 60px;

  &__container {
    padding: 0 180px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 30px;
  }

  &__line {
    width: 1080px;
    height: 4px;
    background: rgba($white, 0.5);
  }

  &__title {
    margin: 0;
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;
    color: $white;
  }

  &__grid {
    max-width: 1080px;
    display: flex;
    gap: 60px;
  }

  &__col {
    max-width: 510px;
    margin: 0;
    padding: 0;
    list-style: none;

    display: flex;
    flex-direction: column;
    gap: 15px;
  }

  &__item {
    position: relative;
    padding-left: 14px;
    margin: 0;

    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
    color: $white;

    &::before {
      content: "";
      position: absolute;
      left: 0;
      top: 10px;
      width: 6px;
      height: 6px;
      border-radius: 50%;
      background: $pink;
    }
  }

}


@media (max-width: 968px) {
  .service-entry {
    padding-top: 30px;
  }

  .service-entry__container {
    max-width: 688px;
    margin: 0 auto;
    text-align: center;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
  }

  .service-entry__icon {
    width: 92px;
    height: 92px;
  }

  .service-entry__title {
    font-size: 38px;
    line-height: 46px;
    white-space: nowrap;
  }

  .service-entry__text {
    max-width: 640px;
    font-size: 16px;
    line-height: 26px;
  }

  .service-entry__btn {
    margin-top: 10px;
  }

  .service-area {
    padding: 60px 0;
  }

  .service-area__container {
    max-width: 688px;
    margin: 0 auto;
    padding: 0;
  }

  .service-area__title {
    margin-bottom: 30px;
  }

  .service-area__grid {
    display: grid;
    max-width: 768px;
    width: 100%;
    grid-template-columns: repeat(2, 1fr);
    gap: 60px;
  }
  .service-area__col {
    max-width: 294px;
    width: auto;
  }

  .service-area__item {
    font-size: 16px;
    line-height: 26px;
  }
}


@media (max-width: 450px) {
  .service-entry {
    padding: 130px 0 30px;
  }

  .service-entry__container {
    max-width: 315px;
    margin: 0 auto;
    padding: 0 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    text-align: center;
  }


  .service-entry__title {
    margin: 0;
    font-weight: 700;
    font-size: 30px;
    line-height: 37px;

  }

  .service-entry__text {
    margin: 0;
    font-size: 19px;
    line-height: 30px;
    max-width: 315px;
  }

  .service-entry__btn {
    width: 100%;
    max-width: 210px;
    height: 56px;
    margin-top: 0
  }

  .service-area {
    padding: 0;
  }

  .service-area__container {
    max-width: 315px;
    margin: 0 auto;
  }

  .service-area__line {
    width: 315px;
    height: 4px;
    margin: 0;
  }

  .service-area__title {
    margin: 0;
  }

  .service-area__grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 30px;
  }

  .service-area__item {
    position: relative;
    margin: 0 0 15px;
    padding-left: 14px;

    font-size: 18px;
    line-height: 26px;

  }
}

