@use './variables' as *;
@use './mixins' as *;

.services {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 60px;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 60px;
  border-radius: 0 0 12px 12px;

  &__link {
    display: inline-flex;
    align-items: center;
    gap: 2px;

    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: $blue;

    text-decoration: none;

    &:hover {
      color: $pink;
      opacity: 0.85;
    }
  }

  &__arrow {
    width: 12px;
    height: 12px;
    color: currentColor;
    flex: 0 0 12px;

  }

  &__title {
    margin: 0;
    font-weight: 700;
    font-size: 38px;
    line-height: 46px;
    padding: 5px 0 60px;

    @include red-text-reversed;
  }

  &__cards {
    width: 1320px;
    display: grid;
    grid-template-columns: repeat(3, 400px);
    column-gap: 60px;
    row-gap: 60px;
    padding-bottom: 60px;
  }
}


.service-card {
  width: 400px;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 30px;

  &__icon {
    width: 92px;
    height: 92px;
    padding: 14px;
    border-radius: 24px;
    background: $white;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: $pink;
    cursor: pointer;
    transition: transform 0.2s ease;
    will-change: transform;

  }

  &:hover .service-card__icon {
    transform: scale(1.15);

  }


  &__title {
    margin: 0;
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;
    color: $blue;
  }

  &__text {
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: $white;
    margin-top: -15px;
  }
}

