@use './variables' as *;

.splash {
  background: $bg-gradient;
  border-bottom-left-radius: $r-12;
  border-bottom-right-radius: $r-12;
  //min-height: 100vh;
  position: relative;
  overflow: hidden;
}
