$font-main: 'Montserrat', sans-serif;

$white: #fff;
$blue: #24A3FF;
$pink: #F0145A;

$bg-1: #323264;
$bg-2: #643E72;

$grey-bg: #F5F5FA;
$grey-separator: #E6E6F0;
$black: #000;
$text-dark: #323264;
$text-dark-alt: #46466E;

$bg-gradient: linear-gradient(
                228.57deg,
                $bg-1 11.93%,
                $bg-1 57.17%,
                $bg-2 87.46%
);
$red-text: linear-gradient(
                90.13deg,
                #EF8080 0.84%,
                #F0145A 99.96%
);
$grey-text: #B3B3BA;

$red-text-reversed: linear-gradient(
                90.13deg,
                #F0145A 0.84%,
                #EF8080 99.96%
);

$text-main: #fff;
$text-muted: rgba(#fff, 0.7);
$text-muted-2: rgba(#fff, 0.5);
$text-muted-3: rgba(#fff, 0.3);

// layout
$container-width: 1440px;

// radius
$r-8: 8px;
$r-16: 20px;
$r-12: 12px;



$container-inner: 1320px;




// breakpoints
$lg: 1440px;
$md: 768px;
$sm: 375px;